body {
    background: url(images/bg-body.jpg) repeat;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
  }
  h1 {
    font-size: 2.8em;
    font-weight: bold;
    color: #00000c;
    text-align: center;
  }  
  h1,h2,h3 {
    font-family: Rockwell,"Times New Roman",serif;
    margin-left:1em;
    text-align: center;
    
  } 
  h2,h3{
    font-size: 2.8em;
  }
  p{   
    margin-left: 1em;
    text-align: center;
    font-size: 1.5em;
  }
a {
  color:#000080;
   
}
#banner ul li.current a {
	background: url(images/bg-menu-last.png) no-repeat right top;
	color: #fde989;
    text-shadow: none;
}
ul{
  list-style-type: none;
}
/*skipnav is the id attribute on the div element we used for the
skip to main content link
*/
#skipnav{
  top:5px;
  left:5px;
  position: absolute;
  background-color:white;
}
#skipnav a{
color:black;
}
/*info is the class we used to style the div elements surrounding
our name and contact info and the course name and school
*/
.info{
width: 40%;
font-size: 1em;
float: left;
margin-left: 10%;
} 
/* banner is the id on the div surrounding the h1 header and the
navigation menu */
#banner {
border-bottom: solid;
border-top:solid;
background: url(images/bg-pattern-top.png) no-repeat center top;
min-height: 300px;
}
/*border is the id on the div surrounding the entire body of the 
document */
#border{
border-style: solid;
}
/*css for the table in accessibility.html */
table{
  border:solid;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 20%;
  text-align: center;
  border-collapse: collapse;
  
  
}
#r5{
    border-bottom: 1px solid rgb(0, 0, 0);
}

#p1, #p2, #p3, #p4, #p5{
    border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 

}


th{
  padding:.5em;
  border-bottom: 1px solid rgb(0, 0, 0);
  
 

}
td{
  padding:.5em; 
  
}
/*this is the css used to create the navigation menu */
nav{
    list-style: none;
	overflow: hidden;
	padding: 0 0 35px;
	text-align: center;
}
nav ul li {
    display: inline-block;
	height: 64px;
	margin: 0 15px;
  
}
nav ul li a {
    color: #000000;
	display: block;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 64px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
    text-shadow: 2px 2px 0 #ffe400;
    font-size: 25px;
}
nav ul li a:hover, nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}
/*style for javascript.html and jsFundamentals.html*/
li.jsList
{
    margin: 5;
}

#field{
    width: 600px;
    height: 400px;
}

#sub{
    text-align: center;
}

#pic2{
    align-content: left;
    width: 600px;
    height: 400px;
    position: relative;
    top: -500px;
    left: 100;
}
#pic3{
    align-content: right;
    width: 600px;
    height: 400px;
    position: relative;
    top: -500px;
    right: -600px;
}

#pic4{
    align-content: right;
    width: 400px;
    height: 600px;
    position: fixed;
    bottom: 25;
    right: 0;
    
}
#pla2{
    align-content: left;
    width: 400px;
    height: 600px;
    position: fixed;
    bottom: 25;
    
}